{% extends "layout.jinja2" %}
{% from 'macros.jinja2' import render_widget %}
{% block title %}Index{% endblock %}
{% block content %}
    {% set attr_view = request.matchdict['view'] %}
    {% for view in views %}
      {% if view['introspectable']['attr'] == attr_view %}
        {% set view_callable = view['introspectable']['callable'] %}
        <h1>{{ getattr(view_callable, attr_view).__doc__ or attr_view }}</h1>
      {% endif %}
    {% endfor %}
    {% if form.valid %}
        <p class="alert alert-success">Form VALIID</p>
    {% elif form.valid is none %}
        <p class="alert alert-info">Form not validated</p>
    {% else %}
        <p class="alert alert-danger">Form INVALIID</p>
    {% endif %}
    <form method="post" action="{{ request.current_route_url() }}">
    {{ render_widget(form.widget) }}
    <button type="submit" class="btn btn-primary">Submit</button>
{#    {{ run_pdb(form) }}#}
    </form>

    <pre>
    {{ form.widget.coerced_data|pprint }}
    </pre>

    <style type="text/css">
    form > .panel{
        border: 0px;
    }
    legend{
        font-size: 12px;
        display: inline-block;
        width: auto;
        padding: 0px 10px;
        margin-left: 10px;
        border: 1px solid #e5e5e5;
    }
    </style>

{% endblock %}
