<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ziggurat Form Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <style>
      .ziggurat-widget-with-style {
          background-color: #fff7c0;
          border: 2px solid #71a23c;
          font-weight: bold;
          margin: 0;
          padding: 10px;
          width: 100px;
      }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Form demo</h3>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <h4>Menu</h4>
            <ul>
              {% set views=request.registry.introspector.get_category('views') %}
              {% for view in views %}
                {% set view_callable_method_name = view['introspectable']['attr'] %}
                {% if view_callable_method_name %}
                  <li><a href="{{ request.route_url('forms', view=view_callable_method_name) }}">
                    {% set view_callable = view['introspectable']['callable'] %}
                    {{ getattr(view_callable, view_callable_method_name).__doc__ or view_callable_method_name }}
                  </a></li>
                {% endif %}
              {% endfor %}
            </ul>
        </div>

        <div class="col-lg-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Company 2014</p>
    </footer>

</div> <!-- /container -->

</body>
</html>
